@import 'normalize';
$text-nav: rgb(255, 255, 255);
$color-1-nav: rgb(194, 194, 194);
$color-2-nav: rgb(167, 167, 167);
$color-code: rgb(185, 204, 221);



html {
  scroll-behavior: smooth;
  line-height: 1.5;
  text-align: justify;
}

body  {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/subtle_freckles.png);
  background-color: rgb(211, 211, 211);

}



#navbar {
  min-width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: cadetblue;
  border-right: 3px solid grey;
  header {
    color: $text-nav;
    background-color: rgb(128, 170, 206);
    padding: 10px 0;
    text-align: center;
  }
  .nav-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
      border-bottom: 1px solid $color-1-nav;
      margin: 0;
      padding: 10px;
      color: $text-nav;
      &:hover {
        background-color: $color-2-nav;
      }
    }
  }
  .nav-link,
  .nav-header {
    text-decoration: none;
  }
}

#main-doc {
  position: absolute;
  top: 10px;
  left: 220px;
  padding-right: 10px;
  header {
    font-size: 32px;
  }
  .code {
    background-color: $color-code;
    white-space: pre-line;
    display: block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  p {
    text-indent: 15px;
  }
}

@media screen and (max-width: 800px) {
  html {
    line-height: 1.1;
  }

  #navbar {
    position: static;
    border: none;
    text-align: center;
    header {
      padding: 5px 0;
    }
    .nav-list {
      li {
        padding: 5px;
      }
    }
  }
  #main-doc {
    position: static;

    padding: 10px 15px 40px;
    header {
      font-size: 32px;
    }
    .code {
      background-color: $color-code;
      white-space: pre-line;
      display: block;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
    }
  }
}




